*
{
 padding: 0;
 margin: 0;
}

*::before,
*::after
{
 box-sizing: inherit;
}

html
{
 font-size: 62.5%;
 box-sizing: border-box;
}

body
{
 background-color: #eeeeee;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.content
{
 margin: 5rem;
}

div.content div#quote
{
 background-color: #fff;
 box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .3);
 padding: 3rem 0 5rem 0;
 margin: 3rem auto;
 border-radius: .5rem;
 position: relative;
}

div.content div.card
{
 background-color: dodgerblue;
 padding: 4rem;
 color: #fff;
 text-align: center;
 font-size: large;
 font-weight: 900;
 margin-bottom: 5rem;
 margin-top: 2rem;
 
 
}

div#quote div.quote-text
{
 position: absolute;
 left: 50%;
 top: 0%;
 transform: translate(-50%, -50%);
 background-color: dodgerblue;
 box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .3);
 padding: 1.5rem;
 border-radius: 3rem;
 color: #fff;
 width: 20%;
 text-align: center;
 text-transform: uppercase;
 font-size: 1rem;
 font-weight: 900;
}

div#quote div.quote-copy
{
 position: absolute;
 left: 50%;
 bottom: 1rem;
 transform: translate(-50%, -50%);
 background-color: dodgerblue;
 box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .3);
 padding: 1rem;
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 text-transform: uppercase;
 font-size: 1rem;
 font-weight: 900;
 cursor: pointer;
}

img#clip
{
 width: 2rem;
 height: 2rem;
}

div.content div.subcon
{
 margin-bottom: 10rem;
}

div.content div.subcon h3
{
 background-color: #fff;
 padding: 1.5rem;
 margin-bottom: 1rem;
 border-radius: 1000rem;
 border-left: .5rem solid dodgerblue;
 border-right: .5rem solid dodgerblue;
 text-align: center;
 font-size: large;
 color: #6293aa;
}

div.content div.subcon p
{
 background-color: #fff;
 padding: 1rem;
 margin: auto;
 margin-bottom: 1rem;
 border-radius: 1000rem;
 border-left: .5rem solid dodgerblue;
 border-right: .5rem solid dodgerblue;
 text-align: center;
 font-size: large;
 color: #6293aa;
 width: 80%;
}

div.content div.subcon button.btn
{
 display: block;
 font-family: inherit;
 margin: auto;
 margin-top: 2rem;
 border: none;
 background-image: linear-gradient(to bottom right, dodgerblue, #082b3b);
 padding: 1.5rem;
 color: #fff;
 border-radius: .5rem;
 text-transform: uppercase;
 font-weight: 900;
}

div.contributors
{
 margin: auto;
 text-align: center;
 margin-top: 8rem;
}

div.contributors div.contributors-text
{
 margin: 3rem auto;
 color: #6293aa;
 border-bottom: .3rem solid #6293aa;
 width: 80%;
 font-size: 1.8rem;
 font-weight: 900;
 text-transform: uppercase;
}

div.contributors div.contributors-img img
{
 width: 5rem;
 height: 5rem;
 border-radius: 50%;
 background-color: #fff;
 padding: .5rem;
 border: .2rem solid #6293aa;
}

a.foot
{
 font-size: 1.5rem;
 font-weight: 900;
 font-family: inherit;
 text-transform: uppercase;
 color: #6293aa;
 text-decoration: overline;
 transition: all .3s;
}

a.foot:hover
{
 font-size: 1.2rem;
 font-weight: 900;
 font-family: inherit;
 text-transform: uppercase;
 color: #fff;
 text-decoration: none;
 background-color: #6293aa;
}

/* Loading Animation */
.loading
{
 display: -webkit-box;
 display: flex;
 -webkit-box-pack: center;
 justify-content: center;
}

.loading div
{
 width: 2.5rem;
 height: 2.5rem;
 margin: 2rem 0.3rem;
 background: #6293aa;
 border-radius: 50%;
 -webkit-animation: 0.9s bounce infinite alternate;
 animation: 0.9s bounce infinite alternate;
}

.loading div:nth-child(2)
{
 -webkit-animation-delay: 0.3s;
 animation-delay: 0.3s;
}

.loading div:nth-child(3)
{
 -webkit-animation-delay: 0.6s;
 animation-delay: 0.6s;
}
  
@-webkit-keyframes bounce
{
 to
 {
  opacity: 0.3;
  -webkit-transform: translate3d(0, -1rem, 0);
  transform: translate3d(0, -1rem, 0);
 }
}
  
@keyframes bounce
{
 to
 {
  opacity: 0.3;
  -webkit-transform: translate3d(0, -1rem, 0);
  transform: translate3d(0, -1rem, 0);
 }
}