
body{background-color: #000;  margin:auto;}
h3{background-color: #1c1c1c; color:#ffffff;
padding:10px;
font-family: arial;
text-align: center;
border-radius:30px;}

.btn{height:40px; width:150px;
font-size: 18px;
font-family: Georgia;
color:#ffffff;
background-color: orange;
border:none;
padding:5px;
border-radius: 5px;}

.card{padding:15px 30px 15px 30px;
margin:40px auto;
max-width:500px;
max-height:300px;
text-align: center;
background-color: #ffffff;
border-radius: 5px;
} 

p{font-family:Times New Roman;
font-weight:400;
font-size: 20px;}

img{height:25px;
width:25px;
}